@font-face{

font-family: "Alisandra";

src: url('../fonts/AlisandraDemo.ttf') format('truetype');

font-weight: normal;
font-style: normal;

}

@font-face{

font-family: "Franclin";

src: url('../fonts/Franklin.ttf') format('truetype');

font-weight: normal;
font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sonyzk');
  src:  url('../fonts/icomoon.eot?sonyzk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sonyzk') format('truetype'),
    url('../fonts/icomoon.woff?sonyzk') format('woff'),
    url('../fonts/icomoon.svg?sonyzk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-mail2:before {
  content: "\ea84";
}