@font-face{

font-family: "Alisandra";

src: url('../fonts/AlisandraDemo.ttf') format('truetype');

font-weight: normal;
font-style: normal;

}

@font-face{

font-family: "Franclin";

src: url('../fonts/Franklin.ttf') format('truetype');

font-weight: normal;
font-style: normal;

}