html {
	box-sizing: border-box;
	line-height: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #989898;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
}

.wrap {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	position: relative;
}

.menu__btn {
	display: block;
	width: 65px;
	height: 65px;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	z-index: 3;
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -10px;
		margin-top: -1px;
		width: 20px;
		height: 2px;
		background-color: #222;
		&::before, &::after {
			content: '';
			display: block;
			transition: .2s;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -10px;
			margin-top: -1px;
			width: 20px;
			height: 2px;
			background-color: #222;
			transform: .6s;
		}
		&::before {
			transform: translateY(-5px);
		}

		&::after {
			transform: translateY(5px);
		}


	}
}

.menu__btn-active {
	span {
		height: 0;
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
}

.menu {
	a {
		color: #222;
		background-color: #fff;
		width: 45px;
		height: 45px;
		font-size: 18px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #000;
		position: absolute;
		left: calc(50% - 20px);
    	top: calc(50% - 20px);
		z-index: 0;
		transition: .3s;
	}
	&__block {
		position: absolute;
		top: 50px;
		left: 15px;
		display: none;
	}

}

	.menu {
		a {
			@include transition;
		}		
	}

.menu-active {
	a:nth-child(1) {
		transform: translate(0%, -160%);
	}
	a:nth-child(2) {
		transform: translate(130%, -120%);
	}

	a:nth-child(3) {
		transform: translate(200%, -10%);
	}

	a:nth-child(4) {
		transform: translate(130%, 90%);
	}

	a:nth-child(5) {
		transform: translate(0%, 150%);
	}

}


.btn {
	background-color: $red;
	width: 140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	// transition: 0.2s;
	&:hover {
		box-shadow: 0 0 10px $red;
		transition-delay: .6s;
		.btn__line--top {
			left: 100%;
			transition: .6s;
			transition-delay: 0.25s;
		}

		.btn__line--bottom {
			right: 100%;
			transition: .6s;
			transition-delay: 0.25s;
		}

		.btn__line--left{
			bottom: 100%;
			transition: .6s;
			transition-delay: 0s;
		}
		.btn__line--right{
			top: 100%;
			transition: .6s;
			transition-delay: 0s;
		}
	}
	&__line {
		position: absolute;
		display: block;
		&--top {
			top: 0;
			left: -100%;
			width: 100%;
			height: 2px;
			background: linear-gradient(90deg, transparent, #fff);
		}
		&--bottom {
			bottom: 0;
			right: -100%;
			width: 100%;
			height: 2px;
			background: linear-gradient(270deg, transparent, #fff);
		}

		&--right {
			top: -100%;
			right: 0;
			width: 2px;
			height: 100%;
			background: linear-gradient(180deg, transparent, #fff);
		}

		&--left {
			bottom: -100%;
			left: 0;
			width: 2px;
			height: 100%;
			background: linear-gradient(0deg, transparent, #fff);
		}
	}
}

.bg-gradient {
	background: linear-gradient(0deg,rgba(27,23,27,1)  0%,  rgba(152,144,142,.1)100%);
}

.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	backface-visibility: hidden;
	border-radius: 10px;
}

.active-btn {
	& .btn__line--top {
			animation: anim1 1s infinite; 
	}
	& .btn__line--left {
		animation: anim3 1s infinite; 
	}
		
	& .btn__line--bottom {
		animation: anim2 1s infinite;
	}

	& .btn__line--right {
		animation: anim4 1s infinite;
	}
}

@keyframes anim1 {
  from {
	left: -100%;
  }
  to {
	left: 100%;
  }
}

@keyframes anim2 {
  from {
	right: -100%;
  }
  to {
    
	right: 100%;
  }
}

@keyframes anim3 {
  from {
	bottom: -100%;
  }
  to {
    
	bottom: 100%;
  }
}

@keyframes anim4 {
  from {
	top: -100%;
  }
  to {
    
	top: 100%;
  }
}